body {
	background: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}

.title {
    background: #fff;
    border-top: 5px solid #3da5e2;
    padding: 0 20px;
    margin-bottom: 40px;
    margin-top: 2em;
    text-align: center;
}

.acerca-de {
    padding: 30px;
    margin-bottom: 40px;
}

.acerca-de .foto {
    text-align: center;
}

.acerca-de .foto img {
    margin-bottom: 30px;
}

.acerca-de .foto .nombre {
    color: #545454;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
}

.acerca-de .info .titulo {
    color: #005385;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.acerca-de .info .resumen {
    letter-spacing: 1px;
}

.acerca-de .info .label {
    font-size: 18px;
    font-weight: 600;
    color: #005385;
    margin-bottom: 10px;
}

.acerca-de .info .progress {
    background-color: #005385;
    border-radius: o;
    margin-bottom: 15px;
}

.acerca-de .info .progress-bar {
    height: 25%;
    background-color: #3da5e2;
    line-height: 25px;
    text-align: left;
    padding-left: 20px;
}

/* Portafolio */
.portafolio {
    background: #fff;
    border-top: 5px solid #3da5e2;
    padding: 0 20px;
    margin-bottom: 40px;
}

.portafolio {
    padding: 40px 0;
    text-align: center;
    color: #3da5e2;
    font-family: 'Open Sans' , sans-serif;
    font-weight: 300;
}

.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 50px);
    margin: 60px auto 0;
    text-align: center;
}

.galeria a{
    display: block;
    text-decoration: none;
    overflow: hidden;
    outline: none;
    height: 220px;
    margin-bottom: 2em;
    text-align: center;
}   

.galeria a img{
    height: 100%;
    transform: scale(1,1);
    transition: all 300ms ease;
    text-align: center;
}

.galeria a img:hover{
    transform: scale(1.1,1.1);

}



/* --- INICIO DEL FOOTER ---  */
footer{
    background-color: #222222;
    padding-top: 40px;
    padding-bottom: 5px;
    margin: 0;
    color: white;
  }
  
  footer p{
    color: #777;
    padding: 5px;
  }
  
  footer input{
    line-height: 38px;
    border: none;
    background: #fff;
    font-weight: 300;
    border-radius: 20px;
    color: #777;
    padding-left: 20px;
    width: 100%;
  }
  
  .fin-btn{
    position: absolute;
    width: 100%;
    left: 0;
    border-radius: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    background-color: rgb(250, 146, 34);
  }
  
  @media screen and (max-width:800px ) {
  .fin-btn{
    position: absolute;
    width: 80%;
    left: 10%;
    border-radius: 20px;
    top: 50%;
    transform: translateY(10%);
    right: 10%;
    background-color: rgb(250, 146, 34);
  }
  ul.social-buttons {
    text-align: center;
    padding: 3em;
  }
  
  }
  
  nav i{
    margin: 10px;
  }
  
  nav .contac{
    color: rgb(250, 146, 34);
    font-size: 30px;
  }
  
  ul.social-buttons {
    padding-top: 3em;
    margin-bottom: 0;
  }
  
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #000;
    border-radius: 100%;
    outline: none;
    background-color: #fff;
    text-align: center;
  }
  
  ul.social-buttons li a:active, ul.social-buttons li a:focus, 
  ul.social-buttons li a:hover {
    background-color: rgb(250, 146, 34);
  }
  
  .copy{
      padding-top: 20px;
  }
  
  /* --- FIN DEL FOOTER ---  */